@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ItemDetail {
  text-transform: uppercase;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  animation: fade-in 2s ease;
}

.ItemDetail--category {
  letter-spacing: 8px;
  opacity: 0.4;
}

.ItemDetail--name {
  font-size: 2rem;
  letter-spacing: 6px;
  line-height: 40px;
}

.ItemDetail--price {
  font-size: 2.4rem;
  color: var(--yellow);
  letter-spacing: 6px;
  line-height: 40px;
}

.ItemDetail--stock {
  opacity: 0.4;
  letter-spacing: 5px;
}
