@keyframes grow {
  0%, 45%{
    transform: scale(1);
    transform: scale(1);
  }
  80%{
    transform: scale(1.05);
    transform: scale(1.05);
  }
}

.NavBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--medium-green);
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

.NavBar--div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  height: 70px;
  background-image: linear-gradient(to right, var(--dark-green), var(--medium-green));
}

.NavBar--icon{
  font-size: 2rem;
  color: var(--green);
  padding-right: 7px;
  transition: all 1.3s ease-out;
  background-image: linear-gradient(to left, var(--medium-green), var(--dark-green));
  border-radius: 100px;
  padding: 8px 8px;
}

.NavBar--icon:hover{
  transform: scaleX(-1);
}

.NavBar--h2{
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--beige);
  padding: 0px 7px 4px 10px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  animation: grow 4s ease 0.3s infinite;
}

.NavBar--h2:hover{
  color: var(--green);
}

.NavBar--ul{
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  background-image: linear-gradient(to left, var(--dark-green), var(--medium-green));
}

.NavBar--ul li{
  font-size: 1.05rem;
  padding: 0px 14px;
  transition: 0.3s ease-out;
}

.NavBar--ul li a{
  color: var(--beige);
  transition: 0.3s ease-out;
}

.NavBar--ul li a:hover{
  color: var(--green);
}

.NavBar--ul li:hover{
  transform: scale(1.15);
} 

