*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
  --white: #eeeeee;
  --brown: #2f2415;
  --dark-green: #353527;
  --medium-green: rgb(85, 85, 63);
  --green: #a1ae25;
  --beige: #f2e8cf;
  --ubuntu-mono: 'Ubuntu Mono', monospace;
}