.ItemCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.ItemCount--to-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  background-color: var(--grey);
  height: 45px;
  border-radius: 12px;
  color: var(--light-grey);
  font-size: 1.15rem;
}

.ItemCount span {
  color: var(--yellow);
}
